html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }

nav {
  background-color: gray;
  line-height: 4rem;
  padding: 0 1rem;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

body {
    background-color: gainsboro;
    margin: 0;
    height: 100vh;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}